/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #fff;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: white;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

ul.nav a:hover {
    color: grey;
}


/*
   * Navbar
   */

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    font-size: .875rem;
    margin: 0px;
    padding: 0px;
    background-color: #5e647d !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.welcome-p {
    color: white !important;
    font-size: 1rem;
}

.index-input {
    margin: 3px 0;
    border-radius: 10px !important;
}

.header-button {
    margin: 3px 0;
    border-radius: 10px !important;
    background-color: gainsboro;
}

a,
a:link {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: white !important;
    text-decoration: underline;
}

a:visited,
a:active {
    color: white;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.align-justified {
    text-align: justify;
    text-justify: inter-word;
}

.carousel {
    border-radius: 15px 15px 15px 15px;
    border: #343a40 5px solid;
    overflow: hidden;
}

.carousel .item {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.carousel-control {
    border-radius: 10px;
}

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.card-img {
    max-height: 100% !important;
    max-width: 100% !important;
    overflow: hidden;
    object-fit: cover;
}

.prof-card {
    max-height: 40% !important;
}

.headergame {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: white !important;
    font-size: 0.9rem;
}